@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/**Resetando CSS**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppis", sans-serif;
}

body {
    background: #f6f9ff;
    height: 100vh;
    width: 100%; /*altura da tela*/
    display: flex;
    justify-content: center;
    align-items: center; /*alinhando na vertical*/
    color: #434343;
    font-size: 16px;
}

main.cards {
    display: flex;
    padding: 32px; /*distanciando - espaço entre as figuras.*/
}

main.cards section.card {
    display: flex; /*alinhando os elementos um em baixo do outro*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px; /*ajustando a bordar*/
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px; /*ajustando para que as imagens fique do mesmo tamanho*/
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%; /*ajustando em 100% para que fique de acordo com o tamanho do disposito*/
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px; /*arrendondando*/
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

/*adicionando efeito gradiente*/
main.cards section.card.contact button {
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}

/*
box-shadow 
é utilizado para adicionar efeitos de sombra em volta de um elemento*/
main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}

/*Tem como objetivo especifica uma folha de estilo que aplica-se para mídias impressas*/
@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}